<!DOCTYPE html>
<html lang="en">
<head>
  <title>Barra de opciones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">


</head>
<body>

<header>
  <div class="contenedor">

    <a  class="logo"><img src="assets/imagenes/logo-uta.webp" alt="Logo UTA"></a>
    <i class="toggle-btn fas fa-bars" (click)="jquerry()"></i>

    <nav class="nav-menus">
      <ul>
      <li><a href="informacion"><i class="fas fa-home"></i> Inicio</a></li>
      </ul>
      <ul>
      <li class="sub-menus largo" ><a href="informacion"><i class="fas fa-list-ul"></i> Oferta Académica</a>

        <ul>
          <li><a href="#"><i class="fab"></i>Ciencia e Ingeniería en Alimentos y Biotecnología</a></li>
          <li><a href="#"><i class="fab "></i>Ciencias Administrativas</a></li>
          <li><a href="#"><i class="fab "></i>Ciencias Agropecuarias</a></li>
          <li><a href="#"><i class="fab "></i>Ciencias de la Salud</a></li>
          <li><a href="#"><i class="fab "></i>Ciencias Humanas y de la Educación</a></li>
          <li><a href="#"><i class="fab "></i>Contabilidad y Auditoría</a></li>
          <li><a href="#"><i class="fab "></i>Ingeniería en Sistemas, Electrónica e Industrial</a></li>
          <li><a href="#"><i class="fab "></i>Jurisprudencia y Ciencias Sociales</a></li>
        </ul>

      </li>
      </ul>
      <ul>
      <li class="sub-menus corto" (click)="jquerrySubOpciones()"><a href="#"><i class="fas fa-list-ul"></i> Institución</a>
        <ul>
          <li><a href="#"><i class="fab"></i> Filosofía</a></li>
          <li><a href="#"><i class="fab "></i> Himnno</a></li>
          <li><a href="#"><i class="fab "></i> Marco legal</a></li>
          <li><a href="#"><i class="fab "></i> Convenios</a></li>
          <li><a href="#"><i class="fab "></i> Plan Estratégico</a></li>
        </ul>
      </li>
      </ul>
      <ul>
      <li><a href="contacto"><i class="fas fa-phone-alt"></i> Contáctanos</a></li>
      </ul>
      <ul>
      <li><a href="busqueda"><i class="fas  fa-search"></i> Buscar</a></li>
      </ul>

    </nav>
  </div>
</header>

</body>
</html>
