#home-top-banner-wrapper {
  position: relative;
  margin:  auto;
  z-index: 1;
  border-radius: 12px 12px 12px 12px;
  max-width: 50%;

}

img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 8px 8px 0 0;

}


@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body{
  background: url('https://i.imgur.com/NMnbn2s.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.contenedor-opciones-busqueda{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  width: 95%;
  margin-right:auto;
  margin-left:auto;

}
.contenedor-barra-busqueda{

  top: 50%;
  left: 50%;

  background: rgba(150, 139, 139, 0.6);





  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.contenedor-barra-busqueda .input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.searchbtn {
  background: #7A1E19;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  color: white;
}

.searchbtn .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}


.corto ul {
  min-width: 220px;
}
.sub-menus ul {
  position: absolute;
  top: 38px;
  background-color: #ffffff;
  padding: 5px 0px;

  box-shadow: 0px 0px 8px #636363;
  border-radius: 4px;
  display: none;
}
.sub-menus:hover ul {
  display: block;
}
.sub-menus ul li {
  padding: 5px 0px;
}
.sub-menus ul li a {
  padding: 8px 10px;
  display: block;
  color: #000000;
}
.sub-menus ul li:hover a {
  color: #fff;
}
.sub-menus ul::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -9px;
}

.nav-menus {
  float: right;
  min-height: 100px;
  display: flex;
  align-items: center;
}
.nav-menus li {
  list-style: none;
  position: relative;
  padding: 0px 0px;
}
.nav-menus a {
  color: #000000;
  position: relative;
  font-size: 17px;
  text-decoration: none;
  padding: 15px 12px;
  z-index: 1;
}
.nav-menus a:hover {
  color: #ffffff;
}
.nav-menus a:after {
  content: "";
  width: 100%;
  height: 0px;
  background-color: #7A1E19;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  transition: 0.5s;
  z-index: -1;


}
.nav-menus li:hover > a:after{
  height: 100%;
  color: #fff;
}
.nav-menus i{
  margin-right: 8px;
  font-size: 16px;
}
#titulo{
  margin: auto;
  color: #7A1E19;
  width: 95%;

}
.resultado-busqueda{
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 95%;
  padding-right: 1em;
  padding-left: 1em;
  text-align: justify;
  background: #fff;
  border-radius: 5px;

}
.resultado-busqueda:hover {
  background-color: #7A1E19;
  color: white;

}


.titulo-noticia{
  color: #232020;

}


