<app-barra-opciones></app-barra-opciones>
<div id="home-top-banner-wrapper center">
  <a  class="button_link" title="">
    <img class="campain " src="assets/imagenes/oferta-academica-2021_banner.webp" alt="God of War ES">
  </a>
</div>

<div class="contenedor-opciones-busqueda" >
  <div class="row">
    <label for="buscar">Busqueda </label>
    <div class="contenedor-barra-busqueda col-lg-5 col-md-6 col-sm-12 col-xs-12">

        <input type="text" id="buscar"class="input"
               placeholder="¿Qué estás buscando?">
        <div class="searchbtn"><i class="fas fa-search"></i></div>

    </div>
    <div class="contenedor-filtros col-lg-4 col-md-5 col-sm-12 col-xs-12">
      <nav class="nav-menus">


    <ul>
        <li class="sub-menus corto"><a href="#"><i class="fas fa-list-ul"></i> Filtrar por fecha</a>
          <ul>
            <li><a href="#"><i class="fab"></i> De cualquier fecha</a></li>
            <li><a href="#"><i class="fab "></i> Última semana</a></li>
            <li><a href="#"><i class="fab "></i> Último mes</a></li>
            <li><a href="#"><i class="fab "></i> Último año</a></li>

          </ul>
        </li>
      </ul>
        <ul>

        <li class="sub-menus corto"><a href="#"><i class="fas fa-list-ul"></i> Tipo de información</a>
          <ul>
            <li><a href="#"><i class="fab"></i> Noticia</a></li>
            <li><a href="#"><i class="fab "></i> PDF</a></li>
            <li><a href="#"><i class="fab "></i> Imagen</a></li>

          </ul>
        </li>
        </ul>


        </nav>
    </div>

  </div>
</div>
<h4 id="titulo" >Total de resultados: 6</h4>
<div class="resultado-busqueda" >
  <h5 class="titulo-noticia" >1. Información</h5>
  <p>(Tecnologías de la Información )</p>
  <p>... un ingeniero de Tecnologías de la Información puede llevar a cabo los roles que se describen a continuación:   LEER MAS Malla Curricular La Carrera de Tecnologías de la Información tiene la siguiente ...</p>
  <P>Creado: 05 Enero 2021</P>
</div>

<div class="resultado-busqueda" >
  <h5 class="titulo-noticia" >2. Información</h5>
  <p>(Telecomunicaciones)</p>
  <p>... descubrir, analizar y documentar el propósito del producto, mediante la identificación de las necesidades de las partes interesadas.   LEER MAS Malla Curricular La Carrera de Telecomunicaciones ...</p>
  <P>Creado: 05 Enero 2021</P>
</div>

<div class="resultado-busqueda">
  <h5 class="titulo-noticia" >3. Información</h5>
  <p>(Electrónica y Telecomunicaciones))</p>
  <p>... como empresario independiente, consultor, prestador de servicios y contratista.  LEER MAS Malla Curricular La Carrera de Ingeniería Electrónica y Comunicaciones tiene la siguiente Malla Curricular ...</p>
  <P>Creado: 05 Enero 2021</P>
</div>

<div class="resultado-busqueda" >
  <h5 class="titulo-noticia" >4. Información</h5>
  <p>(Tecnologías de la Información )</p>
  <p>... un ingeniero de Tecnologías de la Información puede llevar a cabo los roles que se describen a continuación:   LEER MAS Malla Curricular La Carrera de Tecnologías de la Información tiene la siguiente ...</p>
  <P>Creado: 05 Enero 2021</P>
</div>

<div class="resultado-busqueda" >
  <h5 class="titulo-noticia" >5. Información</h5>
  <p>(Telecomunicaciones)</p>
  <p>... descubrir, analizar y documentar el propósito del producto, mediante la identificación de las necesidades de las partes interesadas.   LEER MAS Malla Curricular La Carrera de Telecomunicaciones ...</p>
  <P>Creado: 05 Enero 2021</P>
</div>

<div class="resultado-busqueda" >
  <h5 class="titulo-noticia" >6. Información</h5>
  <p>(Electrónica y Telecomunicaciones))</p>
  <p>... como empresario independiente, consultor, prestador de servicios y contratista.  LEER MAS Malla Curricular La Carrera de Ingeniería Electrónica y Comunicaciones tiene la siguiente Malla Curricular ...</p>
  <P>Creado: 05 Enero 2021</P>
</div>

<app-barra-final></app-barra-final>
