<app-barra-opciones></app-barra-opciones>
<div id="home-top-banner-wrapper center">
  <a  class="button_link" title="">
    <img class="campain " src="assets/imagenes/oferta-academica-2021_banner.webp" alt="God of War ES">
  </a>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="enlace" href="#">Oferta académica</a></li>
    <li class="breadcrumb-item"><a class="enlace" href="#"> Ciencias de la salud</a></li>
    <li class="breadcrumb-item"><a  class="enlace" href="#"> Servicios</a></li>
    <li class="breadcrumb-item active" aria-current="page">Consultorio Psicológico</li>

  </ol>
</nav>

<div id="contenedor-titulo">

  <h1 id="titulo">Consultorio Psicológico</h1>
</div>

<div class="parrafo">
  <img src="assets/imagenes/consultoria-psicologica.jpg" alt="Psicologo atendiendo a una paciente">
  <h5>ATENCIÓN EN CONSULTORIO PSICOLOGICO INGAHURCO.</h5>

    <p>El consultorio psicológico de la Facultad de Ciencias de la Salud se inició alrededor del año 2008, como apoyo para un consultorio de atención médica con el Dr. Jorge Morales. A partir del año 2014 esta a cargo de la atención psicológica la Dra. Rocío Ponce. Mg. De la Carrera de Psicología Clínica.

  <h5>OBJETIVO GENERAL </h5>
  <p>Atender en consulta psicológica en la Facultad de Ciencias de la Salud de la Universidad Técnica de Ambato a estudiantes y comunidad general trabajando de forma preventiva en Salud Mental, prevenir, promocionar, diagnosticar y atender en el campo de psicología clínica a quienes así lo necesiten.
  </p>
  <h5>OBJETIVOS ESPECIFICOS.</h5>

  <li>
    Detectar oportunamente alteraciones de salud mental relacionadas con sus actividades cotidianas, mediante procedimientos psicoterapéuticos y análisis de información tanto a nivel individual como colectivo.
  </li>
  <li>
    Identificar, cuantificar y valorar las secuelas de los daños a la salud mental relacionados con sus actividades cotidianas y disminuir su impacto sobre la capacidad para rendimiento profesional y personal.
  </li>

  <h5> FINANCIAMIENTO</h5>
  <p>
    Brinda atención gratuita, a los estudiantes, personal administrativo y trabajadores de la UTA con prioridad, y también a la comunidad en general que así lo requiera
  </p>
  <h5>ACTIVIDADES</h5>
  <li>
    En lo preventivo se iniciara con un mapeo a los estudiantes en general principalmente a los que ingresan a primer semestre de la Facultad de Ciencias de la Salud y de esa manera se detectará algún problema que sea necesario iniciar un proceso terapéutico.
  </li>
  <li>
    El estudiante podrá asistir voluntariamente al consultorio psicológico o por reporte de su tutor de curso. Se le agendará una cita, se llevará un registro de su asistencia, se abrirá una ficha psicológica según lo estipula el DEA y DIBESAU para mantener un red de datos Se dará atención en horarios establecidos de 7 de la mañana hasta las 12 del medio día y de 14h00 hasta 16h00

  </li>
</div>

<app-barra-final></app-barra-final>
